/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);
/* add a logo in the header */
#header {
    background: #507AAA no-repeat 2px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 4;
}

/* move the project menu to the right */
#main-menu {
    left: auto;
    right: 0px;
}

#top-wrapper {
    display: flex;
    flex-direction: column-reverse;
}
