/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);
/* add a logo in the header */
#header {
    background: #791200 no-repeat 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
}

/* move the project menu to the right */
#main-menu {
    left: auto;
    right: 0px;
}

html {
    background: #f5ead6;
}

#top-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

#top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4px;
    background: transparent;
    font-size: 1.3em;
}

.tm-item-wrapper {
    padding: 0px 10px;
}